In [18]:
boyheight = height.loc[(height.boy_dummy == 1)]

girlheight = height.loc[(height.boy_dummy == 0)]

boymodel = LinearRegression()

boymodel.fit(X=boyheight.loc[:,['father_height','mother_height']],y=boyheight.child_height)

girlmodel = LinearRegression()

girlmodel.fit(X=girlheight.loc[:,['father_height','mother_height']],y=girlheight.child_height)


test = pd.read_csv('DATASET_NB_ROOT/NB_6545021/height_test.csv')

boytest = test.loc[(test.boy_dummy == 1)]

girltest =  test.loc[(test.boy_dummy == 0)]

boytest.loc[:,'prediction'] = boymodel.predict(boytest.loc[:,['father_height','mother_height']])

girltest.loc[:,'prediction'] = girlmodel.predict(girltest.loc[:,['father_height','mother_height']])

boytest.head(5)

     id  father_height  mother_height  boy_dummy  prediction
1  5001           1.69           1.63          1    1.737969
2  5002           1.71           1.56          1    1.729967
3  5003           1.68           1.67          1    1.742959
5  5005           1.88           1.59          1    1.785560
7  5007           1.71           1.64          1    1.745789