In [17]:
height = pd.read_csv('DATASET_NB_ROOT/NB_6545021/height_train.csv')

height.head(5)

   id  father_height  mother_height  boy_dummy  child_height
0   0           1.76           1.60          0          1.66
1   1           1.71           1.63          1          1.76
2   2           1.70           1.66          0          1.67
3   3           1.68           1.61          1          1.75
4   4           1.72           1.70          1          1.76

没有考虑性别因素，加入性别

In [5]:
model.fit(X=height.loc[:,['father_height','mother_height','boy_dummy']],y=height.child_height)
print (model.coef_)
print ()
print (model.intercept_)

[0.23959427 0.25013358 0.10030806]

0.8274299645517075